:root {
  --blackColor: #000;
  --secondColor: #f9de2f;
  --secondGray: #444643;
  --yelowColor: #f9de2f;
  --greenColor: #b0c658;
  --secondGreenColor: #4acc19;
  --orangeColor: #e0c02e;
  --whiteColor: #fff;
  --grayColor: #4e4e4c;
}
