.page-fruits {
  width: 100%;
}
.hero {
  position: absolute;
  width: 100%;

  display: flex;
}
.hero-content {
  padding: 200px 0px;
  width: 50%;
}
.hero-inner {
  display: flex;
  width: 100%;
}
.hero-title {
  padding-bottom: 20px;
}
.hero-text {
  padding-bottom: 20px;
}
.hero-button {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: var(--accentColor);
  color: var(--secondColor);
  border: 1px solid var(--accentColor);
}

.hero-product {
  position: relative;
  background-color: var(--accentColor);
  width: 50%;
}

.hero-product::before {
  content: '';
  background-image: url('../../images/lemons-img.jpg');
  background-size: cover; /* або contain, залежно від потреб */
  background-position: center;
  opacity: 0.8; /* задає прозорість */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* поміщає фон під контент */
}

.content {
  position: relative;
  z-index: 1; /* контент поверх напівпрозорого фону */
  color: #000; /* колір тексту */
}
