.page-fruits {
  width: 100%;
  height: auto;
  position: relative;
}

.hero {
  position: absolute;
  width: 100%;

  display: flex;
}
.hero-content {
  padding: 200px 0px;
  width: 50%;
}
.hero-container {
  width: 50%;
}
.hero-inner {
  display: flex;
  width: 100%;
}
.hero-title {
  padding-bottom: 20px;
}
.hero-text {
  padding-bottom: 20px;
}
.hero-img {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-button {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: var(--accentColor);
  color: var(--secondColor);
  border: 1px solid var(--accentColor);
}

.hero-product {
  position: relative;
  background-color: var(--accentColor);
  width: 50%;
}
