.header-nav-list {
  display: flex;
  margin-right: 0px;
  gap: 20px;
}
.header {
  position: absolute;
  z-index: 1;
  right: 20px;
}

.header > .header-container {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
